/* Style */
@font-face {
  font-family: 'GTEestiPro';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/GT-Eesti-Pro-Display-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'GTEestiPro';
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/GT-Eesti-Pro-Display-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'GTEestiPro';
  font-weight: 500;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/GT-Eesti-Pro-Display-Medium-Italic.woff2') format('woff2');
}
@font-face {
  font-family: 'GTEestiPro';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/GT-Eesti-Pro-Display-Regular.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}
:root{
  --orange: #FF8400;
  --ozTextPrimary: #001a34;
  --ozGray40: #3d5165;
  --ozGray60: #5a6c7d;
  --ozTextAction: #005bff;
  --ozBluePale: #e5efff;
  --ozTextSecondary: #707f8d;
  --ozTextQuaternary: #96a3ae;
}
body{
  height: 100%;
  font-family: 'GTEestiPro', arial, sans-serif;
  line-height: 1.1;
}
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}

.container{
  max-width: 1472px;
  margin: 0 auto;
  padding: 0px 28px;
}

/* NAV */
.nav__container{
  display: flex;
  flex-direction: row;

  padding: 4px 28px;
  align-items: center;
  justify-content: space-between;
}
/* LEFT NAV */
.nav__left{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn-secondary{
  height: 20px;
  padding: 1px 6px;
  margin-right: 12px;
  border-radius: 2px;
  border: none;

  background-color: rgba(14,50,103,.04);

  font-size: 12px;
  text-align: center;
  color: var(--ozTextSecondary);
  text-transform: uppercase;
}
.btn-secondary:hover{
  background-color: rgba(0,26,52,.2);;
}
.nav__left-link{
  display: flex;
  flex-shrink: 1;
  width: 100%;
  align-items: center;
}
.icon__map{
  margin-right: 6px;
}
.link-primary{
  color: var(--ozTextAction);
}
.link-secondary{
  color: var(--ozTextPrimary)!important;
}
.link-secondary,
.link-primary{
  font-size: 14px;
}
/* RIGHT NAV */
.nav{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;

  overflow: hidden;
}
.nav-link{
  padding: 0;
  margin-bottom: 4px;
  margin-left: 16px;
  text-align: center;

  font-size: 14px;
  color: var(--ozGray60);
}
.active{
  padding: 0 8px;

  background-color: var(--ozBluePale);
  border-radius: 8px;
}


/* HEADER */
.header__nav{
  width: 100%;
  padding: 8px 0 0;
}
.header__nav .nav{
  padding: 0;
}
.header__container{
  display: flex;
  flex-direction: column;
  min-height: 100px;
  padding: 4px 28px;

  align-items: center;
}
.header-search{
  display: flex;
  padding: 8px 0;
  max-height: 56px;
}
.search-img__item{
  margin-right: 38px;
}
.search-img__link{
  display: flex;
  width: 128px;
  height: 40px;

  align-items: center;
}
.search-img__pictures{
  max-width: 100%;
  max-height: 100%;
}

/* search-catalog__btn */
.search-catalog__btn{
  margin-right: 24px;
}

/* search__input-form */
.search__input-form{
  display: flex;
  height: 40px;
  margin-right: 45px;
  align-items: center;
  justify-content: center;

  background-color: var(--ozTextAction);
  border-radius: 8px;
}

/* search__form */
.search__form{
  display: flex;
  border: 2px solid var(--ozTextAction);
  border-radius: 8px;
  background-color: white;
}
.btn-light{
  display: flex;
  align-items: center;
  margin: 3px 3px 3px 2px;
  padding: 0px 2px;
}
.btn-light__text{
  margin-left: 8px;
  color: var(--ozTextSecondary);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.form-control{
  border: none;
  border-radius: 4px;
  width: 565px;
}

/* search__btn */
.search__btn{
  box-sizing: border-box;
  width: 74px;
  height: 40px;
  min-width: 74px;
  padding: 2px 2px 2px 0;
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-primary{
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/* search__icon */
.search-icon__description{
  display: flex;
  align-items: center;
}
.search-icon{
  display: flex;
  margin: 0;
  padding: 0;
}
.search-icon__item{
  transition: fill .15s ease-in-out;
}
.search-icon__item:not(:last-child){
  margin-right: 45px;
}
.search-icon__text:hover,
.search-icon__item:hover path{
  fill: #0a58ca;
  color: #0a58ca;
}
.search-icon__link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #001a34;
}
.search-icon__text{
  font-size: 14px;
  line-height: 18px;
}


.header__nav-item{
  padding: 4px;
}
.header__nav-item:not(:last-child){
  margin-right: 12px;
}
.header__nav-link{
  display: flex;

  font-size: 14px;
  color: var(--ozTextPrimary);

  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.header__nav-link:hover{
  color: #0a58ca;
}
.header__nav-icon{
  display: block;
  height: 16px;
  width: 16px;
  margin-right: 5px;

  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
.header__nav-text{
  color: white;
  font-size: 16px;
}
.header_active{
  color: #00a6a6;
}


/*Section product*/
.section__product{
  padding-top: 24px;
}
.breadcrumb{
  margin: 16px 0 12px;
}
.breadcrumb-item a{
  font-size: 14px;
  color: var(--ozTextAction);
}
.eq9{
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 0 4px 0 8px;
  vertical-align: top;
  color: var(--ozTextQuaternary);
}
.breadcrumb-item+.breadcrumb-item::before{
  display: none;
}

/* marketing-marker */
.marketing-marker{
  padding-top: 10px;
}
.marker{
  padding: 2px 8px;

  font-size: 14px;
  color: var(--orange);

  background-color: #FFFFFF;
  border: 1px solid var(--orange); 
  border-radius: 12px;
}

/* product-card */
.product-card{
  padding-top: 12px;
}
.product-card::after{
  display: block;
  padding-top: 12px;

  content: '';
  border-bottom: 1px solid #d6dbe0;
}
.product__header{
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.product__comments{
  display: flex;
  margin: 0;
  padding-top: 12px;
  justify-content: space-between;
}
.left__comments{
  display: flex;
  padding: 0;
  margin: 0;
}
.left__comments li{
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
}
.left__comments li:not(:last-child){
  margin-right: 15px;
}
.comments__star{
  display: flex;
}
.right__comments{
  font-size: 14px;
  color: var(--ozTextSecondary);
}

.og{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* product__info */
.product__info{
  display: flex;
  width: calc(100% - 372px);
  padding-top: 32px;
}
.product__img{
  display: flex;
}
.product__img{
  display: flex;
}
.product__img_left{
  display: flex;
  flex-direction: column;
}
.product__img_left img{
  padding: 5px;
  border: 2px solid var(--ozTextAction);
  border-radius: 3px;
}
.product__img_left img:not(:last-child){
  margin-bottom: 4px;
}
.product__img_right{
  position: relative;
  height: 500px;
  margin-left: 14px;
}
.product__img_right img{
  height: 100%;
}
.product__img-price{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  height: 24px;
  max-width: 300px;
  padding-top: 17px;


}
.product__img-price_text{
  padding: 3px 8px;

  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background-color: #f91155;  
  border-radius: 8px;
}

.product__info_categories{
  width: 100%;
  margin-left: 24px;
}
.info__header_item{
  display: flex;

  margin-bottom: 25px;
}
.info__header{
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}
.info__header_text{
  margin-top: 2px;

  font-size: 14px;
  color: #707f8d;
}

/* info__description */
.info__description{
  width: 100%;
}
.description__item{
  display: flex;
  align-items: center;

  margin-bottom: 8px;
}
.description__item_text{
  margin-bottom: 8px;
  word-break: break-word;

  font-size: 14px;
  font-weight: 400;
  color: var(--ozTextSecondary);
}
.description__item_link{
  margin-bottom: 8px;

  font-size: 14px;
  font-weight: 400;
}
.description__item_text::after{
  content: "";

  display: block;
  width: 100%;

  border-bottom: 1px dotted rgba(204,214,228,.6);
}
.rt4{
  padding: 2px;
}
.description__item_text,
.description__item_link{
  width: 50%;
}
.lo8{
  font-size: 14px;
}


/* product__price */
.product-price{
  width: 340px;
  padding: 8px 0px;
}
.product-price__item{
  display: flex;
  flex-direction: column;
  min-height: 66px;
  padding: 20px;

  border-radius: 12px;

  box-shadow: 0 6px 16px rgb(0 26 52 / 16%), 0 0 0 rgb(0 26 52 / 5%);
}
.item-price_value{
  margin-bottom: 12px;
}
.price-real{
  font-size: 30px;
  font-weight: 700 ;
  line-height: 38px;
  color: #F91155;
}
.price-discount{
  position: relative;
  font-size: 20px;
  font-weight: 700 ;
  line-height: 38px;
}
.price-discount::after{
  display: block;
  position: absolute; 
  right: 0px;
  top: 10px; 
  z-index: -1;
  content: "";
  width: 100%;
  height: 2px;
  background: #f91155;

  transform: rotate(-2deg);
}
.item-price__card{
  max-width: 244px;
  margin-bottom: 12px;
  padding: 3px;
  border-radius: 8px;

  font-size: 14px;
  font-weight: 500;
  background-color: #10c44c;
  color: white;
}
.item-price__best-link{
  padding: 12px 0;
  border-bottom: 1px solid #b3bcc5;
  font-size: 14px;
}
.item-price__low-link{
  padding: 12px 0;
  font-size: 14px;
}
.btn__basket{
  margin-top: 12px;
  padding: 15px 0;
  border-radius: 12px;
}
.item__delivery{
  padding-top: 8px;

  text-align: center;
  font-size: 14px;
}

/* product-price__questions */
.product-price__questions{
  padding: 20px 0;
}

/* product-price__credit */
.product-price__credit{
  background: #fff;
  border: 1px solid rgba(204,214,228,.6);
  border-radius: 16px;
}
.credit__item{
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.product-price__credit-header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 8px;
}
.price__credit-header_text{
  color: #001a34;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.price__credit-price_text{
  padding: 4px 8px;

  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: #ffd540;
  border-radius: 8px;
}

/* product-price__faq */
.product-price__faq{
  padding-top: 24px;
}
.faq__title{
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 700;
}
.faq-questions{
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 261px;

  font-size: 14px;
  color: #005bff;
}
.faq-questions__link{
  margin-top: 14px;
}

/* product-price__delivery */
.product-price__delivery{
  padding-top: 24px;
}
.delivery__item{
  display: flex;
  flex-direction: column;
}
.delivery__title{
  margin-bottom: 20px;

  font-size: 20px;
}
.delivery__city{
  display: flex;
  align-items: center;
}